#menu-0 .navbar-toggler {
  color: #000000;
}
#content4-f P {
  text-align: center;
}
#contacts1-h B {
  color: #000000;
}
#contacts1-h STRONG {
  color: #000000;
}
#contacts1-h P {
  color: #000000;
}
#contacts1-h DIV {
  color: #000000;
}
#menu-i .navbar-toggler {
  color: #000000;
}
#content4-k P {
  text-align: center;
}
#contacts1-m B {
  color: #000000;
}
#contacts1-m STRONG {
  color: #000000;
}
#contacts1-m P {
  color: #000000;
}
#contacts1-m DIV {
  color: #000000;
}
#menu-o .navbar-toggler {
  color: #000000;
}
#msg-box2-19 DIV {
  font-size: 16px;
}
#msg-box2-19 H2 {
  font-size: 20px;
}
#content4-1f P {
  text-align: center;
}
#contacts1-s B {
  color: #000000;
}
#contacts1-s STRONG {
  color: #000000;
}
#contacts1-s P {
  color: #000000;
}
#contacts1-s DIV {
  color: #000000;
}
#menu-u .navbar-toggler {
  color: #000000;
}
#contacts1-y B {
  color: #000000;
}
#contacts1-y STRONG {
  color: #000000;
}
#contacts1-y P {
  color: #000000;
}
#contacts1-y DIV {
  color: #000000;
}
#menu-10 .navbar-toggler {
  color: #000000;
}
#contacts1-14 B {
  color: #000000;
}
#contacts1-14 STRONG {
  color: #000000;
}
#contacts1-14 P {
  color: #000000;
}
#contacts1-14 DIV {
  color: #000000;
}
